<h1 class="title">My Family</h1>


 <div class="prof box">
  <p><%= "プロフィール" %></p>
  <p><%= "hogehogehogehogehogehogehoge" %></p>
  <p><%= "hogehogehogehogehogehogehoge" %></p>
  <p><%= "hogehogehogehogehogehogehoge" %></p>
  <p><%= "hogehogehogehogehogehogehoge" %></p>
  <p><%= "hogehogehogehogehogehogehoge" %></p>
  <p><%= "hogehogehogehogehogehogehoge" %></p>
 </div>

